:root {
  --buttonBackgroundColor: #ff3e00;
  --buttonTextColor: #fff;
  --font-family: 'Source Code Pro', sans-serif;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor)
}